<h2>
  Authors
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Fullname</th>
    </tr>
  </thead>
  <tbody>
    {{#each author in authors}}
      <tr>
        <td>{{author.id}}</td>
        <td>{{#link-to 'author' author}}{{author.fullname}}{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

