<h2>Hello there</h2>
<h3>{{greetingText}}</h3>
<form {{action 'login' on='submit'}} class="form">
	<div class="form-group">
		<label name="email">Email: </label>
		<input type="email" id="email"></input>
	</div>
	<div class="form-group">
		<label name="password">Password: </label>
		<input type="password" id="password"></input>
	</div>
	<div class="form-group">
		<button>Log me in!</button>
	</div>
</form>