<p class="text-muted text-center">This is a <mark>unique</mark> engine where  you can store the books you're reading on.</p>
<div class="col-xs-6 col-xs-offset-3">	
	<h2>Hello there <mark>username</mark></h2><br/>
	<form {{action 'login' on='submit'}} class="form-signin" role="form">
		<label name="email" class="sr-only">Email: </label>
		{{input type="email" value=email  class="form-control email" placeholder="Email"}}
		<label name="password" class="sr-only">Password: </label>
		{{input type="password" value=password class="form-control password" placeholder="Password"}}
		<br/>
		<button class="btn btn-lg btn-block btn-primary btn-success">Hey, let me in!</button>
	</form>
	<br/>
	{{#link-to 'signup' class="pull-right"}}Hey, I wanna sign up{{/link-to}}
</div>

