<h2>
  Users
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Fullname</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in users}}
      {{#if user.exist}}
        <tr>
          <td>{{user.id}}</td>
          <td>{{#link-to 'user' user}}{{user.fullname}}{{/link-to}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>

